/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  position: relative;
  overflow-y: hidden;

  font-family: var(--font1);

  background-color: var(--color-3);

  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: var(--font1);
}

/* reset */

/* variables */
:root {
  --color-1: ;
  --color-2: ;
  --color-3: ;

  --color-1-clr: ;
  --color-2-clr: ;
  --color-3-clr: ;

  --color-white: #ffffff;

  --background-dark: #4f5f6b;
  --background-light: #ffffff;

  --box-shadow-1: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;

  --duration1: 0.2s;
  --duration2: 0.8s;

  /* --font1: "Poppins", sans-serif;
  --font2: "Raleway", sans-serif;
  --font3: "Hind Vadodara", sans-serif; */
}

/* variables */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  mix-blend-mode: difference;
  color: white;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  /* color: #333333; */
}

header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    -17deg,
    var(--background-dark) 55.95%,
    var(--background-light) 56.05%
  );
  /* color: white; */
  /* mix-blend-mode: difference; */
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  /* height: 15vh; */
}

.content {
  position: relative;
  height: 15vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
